<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.lsun.bbs171.repository.NoticeRepository">

    <insert id="submit" parameterType="Notice">
        insert into notices(user_id, content)
        values (#{user_id}, #{content})
    </insert>

    <select id="getLatest" resultType="Notice">
        select *
        from notices
        where status = 1
        order by datetime desc
        limit 1
    </select>

    <select id="getAll" resultType="Notice">
        select *,
               (select username from users where notices.user_id = users.id) as username
        from notices
        where status = 1
        order by datetime desc
    </select>

</mapper>