<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.lsun.bbs171.repository.PostRepository">

    <insert id="submit" parameterType="Post">
        insert into posts(phone, title, content, category)
        values (#{phone}, #{title}, #{content}, #{category})
    </insert>

</mapper>