<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.lsun.bbs171.repository.SystemRepository">

    <select id="getInfo" resultType="SystemInfoDTO">
        select count(users.id)                                                                     as totalUsers,
               count(if(timediff(now(), users.lastTime) &lt; '00:10:00', 1, null))                 as totalOnlineUsers,
               (select count(id) from posts)                                                       as totalPosts,
               (select count(id) from posts where timediff(now(), posts.datetime) &lt; '24:00:00') as totalNewPosts
        from users
    </select>

    <select id="getAdminUsers" resultType="User">
        select *,
               (select level_name
                from level
                where users.experience >= experience
                order by experience desc
                limit 1) as level_name
        from users
        where role = 0
    </select>

    <update id="updateUserRoleToAdmin" parameterType="User">
        update users
        set role = 0
        where phone = #{phone}
    </update>

    <update id="updateUserRoleToUser" parameterType="User">
        update users
        set role = 1
        where phone = #{phone}
    </update>

    <insert id="addCategory" parameterType="Category">
        insert into category(category_name)
        values (#{category_name})
    </insert>

    <delete id="delCategory" parameterType="Category">
        delete
        from category
        where id = #{id}
    </delete>

    <select id="getCategoryUseCount" parameterType="Category" resultType="int">
        select count(id)
        from posts
        where category = #{id}
    </select>


    <update id="updateCategory" parameterType="Category">
        update category
        set category_name = #{category_name}
        where id = #{id}
    </update>

    <select id="getUsers" resultType="User">
        select id, role, phone, username, gender, sign, avatar, experience, status, datetime, lastTime,
               (select level_name
                from level
                where users.experience >= experience
                order by experience desc
                limit 1) as level_name
        from users
        where role = 1
        <if test="status != 3">
            and status = #{status}
        </if>
        <if test="keywords != ''">
            and users.username REGEXP #{keywords}
        </if>
        <if test="keywords != ''">
            or users.phone REGEXP #{keywords}
        </if>
        order by ${sort} desc
    </select>

    <update id="updateUserStatus">
        update users
        set status = #{status}
        where id = #{id}
    </update>

    <update id="resetPassword">
        update users
        set password = #{password}
        where id = #{id}
    </update>
</mapper>