<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.lsun.bbs171.repository.UserRepository">
    <select id="findAll" resultType="User">
        select *
        from users
    </select>

    <select id="findById" parameterType="java.lang.Long" resultType="User">
        select *
        from users
        where id = #{id}
    </select>

    <select id="findByPhone" parameterType="java.lang.String" resultType="User">
        select *
        from users
        where phone = #{phone}
    </select>

    <insert id="save" parameterType="User">
        insert into users(phone, username, password, gender, avatar)
        values (#{phone}, #{username}, #{password}, #{gender}, #{avatar})
    </insert>

    <update id="update" parameterType="User">
        update users
        set username = #{username},
            gender   = #{gender},
            sign     = #{sign}
        where phone = #{phone}
    </update>

    <update id="resetPassword" parameterType="User">
        update users
        set password = #{password}
        where phone = #{phone}
    </update>

    <delete id="deleteById" parameterType="java.lang.Long">
        delete
        from users
        where id = #{identity };
    </delete>

    <!--    <select id="login" parameterType="java.lang.String" resultType="User">-->
    <!--        select *-->
    <!--        from users-->
    <!--        where phone = #{phone}-->
    <!--          and password = #{password}-->
    <!--    </select>-->
</mapper>