<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.lsun.bbs171.repository.UserRepository">
    <select id="findAll" resultType="User">
        select *
        from users
    </select>

    <select id="findById" parameterType="int" resultType="User">
        select *,
               (select level_name
                from level
                where users.experience >= experience
                order by experience desc
                limit 1) as level_name
        from users
        where id = #{id}
    </select>

    <select id="findByPhone" parameterType="java.lang.String" resultType="User">
        select *
        from users
        where phone = #{phone}
    </select>

    <insert id="save" parameterType="User">
        insert into users(phone, username, password, gender, avatar)
        values (#{phone}, #{username}, #{password}, #{gender}, #{avatar})
    </insert>

    <update id="update" parameterType="User">
        update users
        set username = #{username},
            gender   = #{gender},
            sign     = #{sign}
        where id = #{id}
    </update>

    <update id="resetPassword" parameterType="User">
        update users
        set password = #{password}
        where phone = #{phone}
    </update>

    <update id="updatePassword">
        update users
        set password = #{password}
        where id = #{id}
    </update>

    <delete id="deleteById" parameterType="int">
        delete
        from users
        where id = #{id};
    </delete>

    <insert id="starPost" parameterType="Star">
        insert into stars(user_id, post_id)
        values (#{user_id}, #{post_id})
        on duplicate key update user_id = #{user_id}
            and post_id = #{post_id}
    </insert>

    <delete id="unstarPost" parameterType="Star">
        delete
        from stars
        where user_id = #{user_id}
          and post_id = #{post_id}
    </delete>

    <select id="getStars" parameterType="int" resultType="StarDTO">
        select posts.id,
               posts.title,
               stars.datetime
        from stars
                 inner join posts on posts.id = stars.post_id
        where stars.user_id = #{id}
    </select>

    <select id="getPosts" parameterType="int" resultType="Post">
        select *
        from posts
        where user_id = #{id} and status = 1
    </select>

    <update id="updateLastTime" parameterType="int">
        update users
        set lastTime = now()
        where id = #{id}
    </update>

    <update id="updateExperience" parameterType="int">
        update users
        set experience = experience + #{experience}
        where id = #{id}
    </update>

    <select id="getLevel" resultType="Level">
        select *
        from level
    </select>
</mapper>